/* body{
    background-image: url("https://images.pexels.com/photos/7598668/pexels-photo-7598668.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
} */
form{
    width: 800px;
    margin: 50px  auto;
}
@media screen and (max-width:800px){
    form{
        width: 90%;
       
    }
}